// http://chir.ag/projects/name-that-color/
$color-alto: #dddddd;
$color-alto2: #d7d7d7;
$color-allports: #006dab;
$color-alabaster: #f8f8f8;
$color-alabaster2: #fafafa;
$color-alice-blue: #f0faff;
$color-aqua-spring: #e9f8f8;
$color-aqua-squeeze: #e3f2ef;
$color-bay-of-many: #26358c;
$color-bittersweet: #ff6f66;
$color-bittersweet2: #f87c57;
$color-black: #000000;
$color-black-squeeze: #e6eff5;
$color-black-squeeze2: #f5fbfb;
$color-broom: #ffe619;
$color-breaker-bay: #62a5a7;
$color-bright-sun: #fee43a;
$color-bull-shot: #775020;
$color-burnt-sienna: #e67350;
$color-buttermilk: #fff4b0;
$color-buttered-rum: #9e6710;
$color-candlelight: #ffde14;
$color-caribbean-green: #02c3aa;
$color-catskill-white: #ecf6f5;
$color-cerulean: #0094e4;
$color-cobalt: #0053b8;
$color-cod-gray: #1a1a1a;
$color-cosmos: #ffd4d1;
$color-curious-blue: #3190d8;
$color-curious-blue2: #1798e8;
$color-danube: #559cc8;
$color-deep-cerulean: #0076b7;
$color-diesel: #1b0000;
$color-disco: #86146e;
$color-dove-gray: #6d6d6d;
$color-dove-gray2: #666666;
$color-dawn-pink: #f0e9df;
$color-dusty-grey: #959595;
$color-dusty-grey2: #999999;
$color-early-dawn: #fff8e9;
$color-elm: #23767f;
$color-fern: #58b564;
$color-foam: #e9f5fd;
$color-foam2: #ecf7fd;
$color-foam3: #f5fbfe;
$color-hawkes-blue: #daeffb;
$color-half-and-half: #fffddf;
$color-hawkes-blue: #c6e3fa;
$color-hottoddy: #bc8c0d;
$color-gallery: #efefef;
$color-geebung: #d3911c;
$color-geebung2: #c38419;
$color-gorse: #ffe535;
$color-gothic: #7093a2;
$color-gossamer: #03908b;
$color-geyser: #dae1e4;
$color-gray: #888888;
$color-guardsman: #be0000;
$color-hawkes-blue: #dcf0fc;
$color-hippie-blue: #4ca397;
$color-indochine: #d06d01;
$color-linen: #fdf4f1;
$color-mercury: #e1e1e1;
$color-mercury2: #e5e5e5;
$color-milk-punch: #fff6d8;
$color-mine-shaft: #222222;
$color-mine-shaft2: #333333;
$color-mine-shaft3: #353535;
$color-mona-lisa: #ffa19c;
$color-mosque-2: #045e6c;
$color-mosque: #04777b;
$color-navy-blue: #000066;
$color-nobel: #b5b5b5;
$color-lonestar: #650201;
$color-Lochmara: #008ad6;
$color-mandys-pink: #efbbab;
$color-ming: #33757a;
$color-monza: #db0a16;
$color-orange-peel: #ff9900;
$color-off-yellow: #fef9e2;
$color-pampas: #f1f1e7;
$color-picasso: #ffea93;
$color-polar: #eaf4fb;
$color-polar2: #e5f9f7;
$color-punch: #dd4d21;
$color-persian-red: #cc3333;
$color-provincial-pink: #fce9e7;
$color-translucent-silk: #ffe9e3;
$color-impatiens-pink: #ffc4bd;
$color-red: #de0000;
$color-red-2: #e10000;
$color-rice-cake: #fffeef;
$color-regal-blue: #004369;
$color-riptide: #80e1d4;
$color-sinbad: #93d7ce;
$color-sinbad2: #a1d1cb;
$color-sinbad3: #a2d4c9;
$color-gallery: #eeeeee;
$color-sail: #b3d4fc;
$color-silver: #c9c9c9;
$color-sinbad: #a0d4ca;
$color-spring-wood: #f9f6f2;
$color-stack: #8a8d89;
$color-stratos: #01013f;
$color-tarawera: #073349;
$color-teal: #008385;
$color-teal-blue: #04555c;
$color-teal-mint: #a0d2cb;
$color-temptress: #3c0000;
$color-tiber: #072a3a;
$color-totempole: #99080c;
$color-tradewind: #68bcb5;
$color-transparent: transparent;
$color-tropical-blue: #c3e3f6;
$color-tundora: #494949;
$color-boulder: #767676;
$color-turquoise: #50e3c2;
$color-selago: #f6fbfe;
$color-silver: #cccccc;
$color-silver-chalice: #a2a2a2;
$color-valencia: #d63d36;
$color-verden-green: #635701;
$color-weborange: #e9a402;
$color-white: #ffffff;
$color-willow-brook: #e1efe0;
$color-wisp-pink: #fef5f6;
$color-zuccini: #084c30;
$color-violin-brown: #635700;

// Social network/platform colours
// Not sourced from name-that-color but uniquely identifiable due to the
// platform that they represent
$color-facebook: #3b579d;
$color-twitter: #1da1f2;
$color-instagram: #e1306c;
$color-linkedin: #0077b5;
$color-pinterest: #bd081c;
$color-whatsapp: #25d366;
$color-email: #075e7c;

// Extended

// Hexadecimal-based (new palette based on latest design language)
$color-000000: #000000;
$color-222222: #222222;
$color-333333: #333333;
$color-494949: #494949;
$color-767676: #767676;
$color-d63d36: #d63d36;
$color-ffea93: #ffea93;
$color-ffffff: #ffffff;
